:root {
    --cor-site: #1C4FAE;
    --cor-site1: #2365DE;
    --cor-site2: #6994E3;
    --cor-site3: #0F2B5E;
    --cor-site4: #457ABF;
    --cor-site5: #81B7DE;
    --tamanho: calc(100% - 2em);
}

* {
    font-family: Montserrat, sans-serif;
}

.header {
    text-align: center;
    margin: auto;
    background-color: var(--cor-site3);
    text-transform: uppercase;

}

#hamburguer {
    background-color: var(--cor-site);
    color: var(--cor-site3);
    display: block;
    text-align: center;
    padding: .3em;
    cursor: pointer;
    font-size: 2em;
}


.header_nav {
    background-color: var(--cor-site);
    display: none;
}

.header_nav.show {
    display: block;
}

ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    /*letter-spacing: .2em;
    font-size: 1em;*/

}

.header_nav a {
    color: var(--cor-site3);
    text-decoration: none;
    display: block;
    padding: 1em;
    letter-spacing: .1em;
    font-size: 1.2em;
    
}

.header_nav a:hover {
    background-color: var(--cor-site3);
    color: var(--cor-site1);
}

h1 {
    color: var(--cor-site3);
    text-transform: uppercase;
}

p {
    color: var(--cor-site3);
    font-size: 1.2em;
    
}

.text-center a {
    text-decoration: none;
    color: var(--cor-site3);

}

.sobre {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 10%);

}


.sobre img {
   max-width: 18em;
   width: var(--tamanho);
}

.inicio img {
    max-width: 18em;
    width: var(--tamanho);
}

.inicio {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);

}

.desafios img {  
    max-width: 18em;
    width: var(--tamanho);
}

.desafios {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 30%);
}

.conquista {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 40%);
}

#conquista {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.aprendi img {
    max-width: 18em;
    width: var(--tamanho);
}

.aprendi {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 50%);
}

.projetos {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 60%);
   
}

 #projeto video {
   width: var(--tamanho);
   
} 


#fala video {
    width: var(--tamanho);
}

.depoimento {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 70%);
}

footer {

    background-color: var(--cor-site3);
    padding: 1em;
    text-align: center
}

.footer_nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.redes {
    width: 2.5em;
}

.texto_footer {
    margin: 0;
    padding-top: 2em;
    color: var(--cor-site1);
}


@media screen and (min-width: 36em)
/*576px*/
    {

    #hamburguer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-site);
    }

    .header_nav {
        display: block;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .8em;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a {
        border-radius: 5px;
    }

    .header_nav a:hover {
        background-color: var(--cor-site1);
        color: var(--cor-site3);
    }

    .card video {
        width: 35em;
        height: 19.8em; 
     }

    .footer_nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5em;
    }

}


    


    
